.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#3f0e02, #c02844);

}

.mainpage-circle {
    position: relative;
    top: 5rem;
    width: 60vw;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    background-image: linear-gradient(to left, #f46936, #ff758f);
    box-shadow: 20px 15px 25px rgb(250, 212, 202, 0.3);
    padding: 25px;
}

svg {
    position: absolute;
    bottom: 0;
}

.title {
    position: absolute;
    top: 50px;
    left: 20%;
    color: white;
    font-size: 74px;
    margin-right: auto;
}

.solarBtn,
.registerBtn,
.loginBtn,
.logOutBtn,
.adminBtn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #fad4ca;
    background: #fad4caa3;
}

.solarBtn:hover,
.registerBtn:hover,
.loginBtn:hover,
.logOutBtn:hover,
.adminBtn:hover {
    background: transparent;
}

.solarTable {
    padding: 0.5rem;
    width: 100%;
}

.btnDiv {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}